<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam dignissimos, ratione suscipit libero cumque deleniti cum repellendus voluptatum animi sint, ex amet numquam facere ab voluptatibus quibusdam fugiat neque. Maiores vel laboriosam sunt odio? Dicta nobis necessitatibus facere officiis!</p>
    </div>
</div>