<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum blanditiis assumenda, perspiciatis exercitationem alias, asperiores laboriosam voluptates, doloremque soluta maiores nulla. Corporis officia ratione earum esse, tempore libero tenetur iusto.</p>
    <a href="/" class="btn btn-primary btn-lg">Principal</a>
</div>